/* VARIABLES */
/*Variables*/
@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@400;900&family=Allerta+Stencil&family=Alumni+Sans+Inline+One&family=Holtwood+One+SC&family=Monoton&family=Montserrat:wght@300&family=Raleway:wght@300&family=Rubik+Mono+One&family=Rubik+Moonrocks&family=Rye&family=Ultra&display=swap");
.fs Title {
  font-size: 15em; }

.fs Xlarge {
  font-size: 5em; }

.fs Large {
  font-size: 3em; }

.fs Medium {
  font-size: 1.5em; }

.fs Small {
  font-size: 1em; }

/* GLOBALES */
/* Helpers */
.container {
  max-width: 1080px;
  margin: 0 auto; }

.grid {
  display: grid; }

img {
  width: 100%; }

/* .section-active {
    
} */
/*Imports*/
/* Normalize */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Global */
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  color: white;
  font-family: "Alegreya SC", serif; }

body {
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  /* background-color: $principal; */
  background: #403126;
  /* background: linear-gradient(90deg, rgba(91,44,6,1) 0%, rgba(68,33,9,0.989233193277311) 50%, rgba(91,44,6,1) 100%);  */
  background: linear-gradient(90deg, #5b2c06 0%, rgba(114, 101, 26, 0.989) 50%, #5b2c06 100%); }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  display: inline-block;
  color: white; }

h2 {
  /* margin-bottom: 20px; */
  font-size: 3em;
  color: white;
  text-align: center;
  padding-top: 2rem; }

h4 {
  color: white;
  text-align: center;
  /* margin-top: 20rem; */
  font-size: 1.5em;
  margin-top: 10rem;
  /*     display: flex;
    flex-direction: column;
    justify-content: left; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  gap: 0;
  transform: translate(-500px, 112px);
  flex-wrap: wrap;
  height: 50px;
  width: 100px;
  flex-wrap: wrap; }

/* PARTIALS */
/*navbar y Header*/
header {
  background-color: #181008;
  opacity: 0.5;
  position: fixed;
  width: 100%;
  z-index: 1; }
  header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    min-height: 5vh;
    padding: 0 2rem;
    overflow: hidden; }
  header .logo {
    flex-basis: 7%; }
  header .section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    flex-basis: 30%; }
    header .section-item {
      font-size: 2em;
      font-weight: bold; }
      header .section-item .sub__menu {
        display: none;
        position: absolute; }
        header .section-item .sub__menu--link {
          padding: 1rem;
          color: white;
          transition: all .4s ease-in-out; }
          header .section-item .sub__menu--link:hover {
            background-color: white;
            box-shadow: 0 0 10px white;
            color: #3d2b13; }
      header .section-item:hover .sub__menu {
        display: block;
        z-index: 1; }
    header .section__link, header .section__link--active {
      padding: 1rem;
      font-size: 1em;
      transition: all .4s ease-in-out; }
      header .section__link--active {
        border-bottom: 2px solid grey; }
      header .section__link:hover, header .section__link--active:hover {
        background-color: white;
        box-shadow: 0 0 10px white;
        color: #3d2b13; }

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  height: 20vh;
  background-color: #181008; }
  footer p {
    text-align: center;
    font-size: 1.5em;
    text-indent: 5px; }

.footer__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0; }

/* VIEWS */
/* Inicio */
main {
  /*   background-color: $backcolor2; */
  padding-top: 2vh; }

.uspage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  /*  position: relative; */
  /* overflow: hidden; */ }

/*     width: 100%;
    text-align: center;

}

.bg-inicio {
    flex-basis: 80%;
}
 */
.bg__img {
  width: 100vh;
  height: 100vh;
  opacity: 0.4;
  transform: translateY(-152px); }

.homecn {
  color: white;
  width: 100%;
  align-items: center;
  justify-content: center; }
  .homecn h1 {
    display: flex;
    text-align: center;
    font-size: 15em;
    top: 29rem;
    position: absolute;
    /*         top: 50%;
        left: 50%;
        transform: translate(-50%, -150%); */
    color: white;
    animation-name: efectocn;
    animation-iteration-count: 5;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-delay: 2s;
    font-family: "Allerta Stencil", sans-serif;
    font-weight: lighter;
    /* margin: auto; */
    margin-left: 52px; }

@keyframes efectocn {
  0% {
    opacity: 0; }
  10% {
    opacity: 0.2; }
  20% {
    opacity: 0.4; }
  30% {
    opacity: 0.6; }
  40% {
    opacity: 0.8; }
  50% {
    opacity: 1; }
  60% {
    opacity: 0.8; }
  70% {
    opacity: 0.6; }
  80% {
    opacity: 0.4; }
  90% {
    opacity: 0.2; }
  100% {
    opacity: 0; } }

/* Productos */
.gallery__product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(, 40vh);
  grid-gap: 8px;
  grid-auto-rows: 30vh;
  padding: 20px;
  gap: 30px;
  width: 100%; }

.gallery__intproduct {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(, 40vh);
  grid-gap: 8px;
  grid-auto-rows: 30vh;
  padding: 20px;
  gap: 30px;
  width: 100%; }

.gallery__img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  border-radius: 6px;
  transition: all 300ms; }
  .gallery__img:hover {
    transform: scale(1.1); }

.gallery-title {
  justify-self: center;
  font-size: 3em;
  text-align: center; }

.gallery .sub__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  width: 100vw;
  margin-bottom: 10px;
  padding-top: 10em; }
  .gallery .sub__menu--item {
    justify-items: center;
    font-size: 1.5em; }
  .gallery .sub__menu--link {
    transition: all 500ms;
    padding: 0.3rem; }
    .gallery .sub__menu--link:hover {
      transform: scale(1.5);
      background-color: white;
      box-shadow: 0 0 10px white;
      color: #3d2b13; }

.card {
  width: auto;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #181008;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease; }
  .card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%); }
  .card .imgprod {
    height: 100%;
    width: 100%; }
  .card .content {
    text-align: center; }
    .card .content h3 {
      color: white; }

/*Presupuesto*/
.main-presu {
  height: 62vh;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0; }

.presu-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5;
  width: 500px;
  margin: auto;
  top: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  color: #3d2b13;
  align-items: center;
  opacity: 0.8; }

input {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px; }

textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px; }

button {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px; }

#presu-btn {
  padding: 1rem;
  color: #3d2b13;
  transition: all .4s ease-in-out; }
  #presu-btn:hover {
    background-color: #3d2b13;
    box-shadow: 0 0 10px #3d2b13;
    color: white; }

/* Contact */
.contact {
  /*     &-page {
        @include grid(5, 1fr, 3, 1fr, 20px);
        align-items: center;
        justify-content: center;
        height: 80%;
        width: 100%;
        grid-template-areas:
            "a b b b e"
            "a c c c e"
            "a d d d e"
        ;

    } */ }
  .contact-title {
    text-align: end;
    padding: 20px;
    font-size: 3em; }
  .contact__page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0; }
  .contact__img {
    max-width: 5vh;
    transition: all 300ms;
    justify-content: space-between;
    align-items: flex-end; }
    .contact__img:hover {
      transform: scale(1.1); }
  .contact-logo {
    width: 2vh; }

/* 
.img1 {
    grid-area: a;
    justify-self: center;
}

.img2 {
    grid-area: b;
    justify-self: center;
}

.img3 {
    grid-area: c;
    justify-self: center;
}

.img4 {
    grid-area: d;
    justify-self: center;
}

.img5 {
    grid-area: e;
    justify-self: center;
} */
/* MEDIA QUERYS */
/* Media Querys */
@media (max-width: 900px) {
  body {
    max-width: 100vw; }
  .bg__img {
    width: 100vw;
    height: 50vh;
    opacity: 0.3;
    display: block;
    transform: translate(0, 30%); }
  .navbar {
    max-width: 100vw; }
  .homecn h1 {
    font-size: 7em;
    top: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    animation-name: efectocn;
    animation-iteration-count: 5;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-delay: 2s;
    font-family: "Allerta Stencil", sans-serif;
    font-weight: lighter; }
  .section-item {
    font-size: 2em;
    font-weight: bold; }
  .contact-page {
    max-width: 100%; }
  .contact__img {
    max-width: 10vh; }
  .contact-logo {
    width: 15vh; }
  .presu-form {
    max-width: 80%; }
  footer p {
    text-align: center;
    font-size: 1.5em; } }

@media (max-width: 768px) {
  body {
    max-width: 100vw; }
  .navbar {
    max-width: 100vw; }
  .gallery__product {
    grid-template-columns: repeat(3, 1fr); }
  .sub__menu--item {
    font-size: 1em; }
  .homecn h1 {
    font-size: 7em;
    top: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    animation-name: efectocn;
    animation-iteration-count: 5;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-delay: 2s;
    font-family: "Allerta Stencil", sans-serif;
    font-weight: lighter; }
  .section-item {
    font-size: 1.2em;
    font-weight: bold; }
  .contact-page {
    max-width: 100%; }
  .contact__img {
    max-width: 10vh; }
  .contact-logo {
    width: 15vh; }
  .presu-form {
    max-width: 80%; }
  footer p {
    text-align: center;
    font-size: 1.5em; } }

@media (max-width: 480px) {
  body {
    max-width: 100vw; }
  .navbar {
    max-width: 100vw; }
  .bg__img {
    width: 100vw;
    height: 50vh;
    opacity: 0.3;
    display: block;
    transform: translate(0, 30%); }
  .homecn h1 {
    font-size: 4em;
    top: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    animation-name: efectocn;
    animation-iteration-count: 5;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-delay: 2s;
    font-family: "Allerta Stencil", sans-serif;
    font-weight: lighter; }
  .section {
    max-width: 100%; }
    .section-item {
      font-size: 1.2em; }
  .gallery__product {
    grid-template-columns: repeat(1, 1fr); }
  .sub__menu--item {
    font-size: 1em; }
  .contact {
    width: 100%; }
    .contact-page {
      max-width: 100%; }
    .contact__img {
      max-width: 10vh; }
    .contact-logo {
      width: 15vh; }
  footer p {
    text-align: center;
    font-size: 1em; } }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .gallery__product {
    flex-wrap: wrap; }
  .card {
    margin: 15px; } }
