/* Inicio */
main {
  /*   background-color: $backcolor2; */
    padding-top: 2vh;
}

.uspage {
    @include flex(column, space-between, center, 0);
   /*  position: relative; */
    /* overflow: hidden; */

    }    /*     width: 100%;
    text-align: center;

}

.bg-inicio {
    flex-basis: 80%;
}
 */
.bg__img {
    width: 100vh;
    height: 100vh;
    opacity: 0.4;
    transform: translateY(-200px);
    
}

.homecn {
    color: $secondary;
    width: 100%;
    align-items: center;
    justify-content: center;


    h1 {
        display: flex;
        text-align: center;
        font-size: map-get($fs , Title );
        top: 29rem;
        position: absolute;
/*         top: 50%;
        left: 50%;
        transform: translate(-50%, -150%); */
        color: $secondary;
        animation-name: efectocn;
        animation-iteration-count: 5;
        animation-timing-function: ease-in-out;
        animation-duration: 2s;
        animation-delay: 2s;
        font-family: $font4;
        font-weight: lighter;
        /* margin: auto; */
        margin-left: 52px;
    }
}



@keyframes efectocn {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0.2;
    }

    20% {
        opacity: 0.4;
    }

    30% {
        opacity: 0.6;
    }

    40% {
        opacity: 0.8;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 0.8;
    }

    70% {
        opacity: 0.6;
    }

    80% {
        opacity: 0.4;
    }

    90% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
    }
}