/* Inicio */
main {
    background-color: $backcolor2;
    padding-top: 2vh;
}

.uspage {
    @include flex(column, space-between, center, 0);
    position: relative;
    overflow: hidden;
    width: 100%;
    text-align: center;

}

.bg-inicio {
    flex-basis: 80%;
}

.bg__img {
    width: 80vh;
    height: 80vh;
    opacity: 0.1;
    display: block;
}

.homecn {
    color: $secondary;
    width: 100%;
    align-items: center;

    h1 {
        font-size: map-get($fs, Title);
        top: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $principal;
        animation-name: efectocn;
        animation-iteration-count: 5;
        animation-timing-function: ease-in-out;
        animation-duration: 2s;
        animation-delay: 2s;
        font-family: $font4;
        font-weight: lighter;
    }
}



@keyframes efectocn {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0.2;
    }

    20% {
        opacity: 0.4;
    }

    30% {
        opacity: 0.6;
    }

    40% {
        opacity: 0.8;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 0.8;
    }

    70% {
        opacity: 0.6;
    }

    80% {
        opacity: 0.4;
    }

    90% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
    }
}