/*Imports*/

@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@400;900&family=Allerta+Stencil&family=Alumni+Sans+Inline+One&family=Holtwood+One+SC&family=Monoton&family=Montserrat:wght@300&family=Raleway:wght@300&family=Rubik+Mono+One&family=Rubik+Moonrocks&family=Rye&family=Ultra&display=swap');

/* Normalize */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global */
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    color: $principal;
    font-family: $font5;
}

body {
    
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    /* background-color: $principal; */
    background: rgb(64,49,38);
    /* background: linear-gradient(90deg, rgba(91,44,6,1) 0%, rgba(68,33,9,0.989233193277311) 50%, rgba(91,44,6,1) 100%);  */  
    background: linear-gradient(90deg, rgba(91,44,6,1) 0%, rgba(114, 101, 26, 0.989) 50%, rgba(91,44,6,1) 100%);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
    color: $principal;
}
h2 {
    /* margin-bottom: 20px; */
    font-size: map-get($fs , Large );
    color: $principal;
    text-align: center;
    padding-top: 2rem;
}

h4 {
    color: $principal;
    text-align: center;
    /* margin-top: 20rem; */
    font-size: map-get($fs, Medium );
    margin-top: 10rem;
/*     display: flex;
    flex-direction: column;
    justify-content: left; */
    @include flex(row, space-between, left, 0);
    transform: translate(-500px, 112px);
    flex-wrap: wrap;
    height: 50px;
    width: 100px;
    flex-wrap: wrap;
}
