/*Imports*/

@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@400;900&family=Allerta+Stencil&family=Alumni+Sans+Inline+One&family=Holtwood+One+SC&family=Monoton&family=Montserrat:wght@300&family=Raleway:wght@300&family=Rubik+Mono+One&family=Rubik+Moonrocks&family=Rye&family=Ultra&display=swap');

/* Normalize */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global */
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    color: $principal;
    font-family: $font5;
}

body {
    
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: $principal;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
    color: $principal;
}
h2 {
    /* margin-bottom: 20px; */
    font-size: map-get($fs , Large );
    color: $secondary;
    text-align: center;
    padding-top: 2rem;
}

h4 {
    color: $secondary;
    text-align: center;
    /* margin-top: 20rem; */
    font-size: map-get($fs, Large );
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    
}
